/* NAVBAR ======================================================================== */

#home {
    box-shadow: none;
}
#shop {
    box-shadow: none;
}
#profile {
    box-shadow: inset 0px -5px rgb(255, 255, 255);
}
#login {
    box-shadow: none;
}
#register {
    box-shadow: none;
}


/* PROFILE SETTINGS =============================================================== */

.profile-c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;

    transition: 0.3s;
    transition-timing-function: var(--expo-out);

    margin: 0;
    padding: 5px;
}
.profile-c2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;

    margin: 0;
    padding: 0;
}
.profile-c3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;

    margin: 0;
    padding: 0;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
    width: 226px;

    margin: 0;
    padding: 0;
}

.info-label {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;

    width: 220px;

    margin: 0;
    padding: 3px;
}
.info-data {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    width: 218px;

    border: none;
    border-bottom: dotted rgb(125, 125, 125) 2px;

    margin: 0;
    padding: 3px;
}

.profile-button {
    color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255) 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    transition: 0.3s;
    transition-timing-function: var(--expo-out);

    border-radius: 22px;
    user-select: none;

    margin: 0;
    padding: 5px 15px 5px 15px;
}
.profile-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
}
.profile-button:active {
    transition: 0s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
}


/* FAVOURITED ITEMS ======================================================================== */

.catalogue-c1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;

    margin: 0;
    padding: 0;

    animation: collapse 0.5s;
    animation-timing-function: var(--expo-out);
}
@keyframes collapse {
    0%   {margin-top: 100px;}
    100% {marign-top: 0px;}
}
.catalogue-c2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 3px;

    --item-bg-col: rgb(0, 0, 0);
    background-color: var(--item-bg-col);

    margin: 0;
    padding: 5px;

    transition: 0.3s;
    transition-timing-function: var(--expo-out);
}
.catalogue-c2:hover {
    --item-bg-col: rgb(30, 30, 30);
    filter: brightness(1.2);
}
.catalogue-c3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;

    margin: 0;
    padding: 0;
}
.catalogue-c4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}
.catalogue-c5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;

    margin: 0;
    padding: 0;
}
.catalogue-c6 {
    height: 20px;

    margin: 0;
    padding: 0;
}
.catalogue-c6:hover {
    filter: brightness(1.2);

    margin: 0;
    padding: 0;
}

.catalogue-city {
    color: rgb(255, 255, 255);
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 800;

    font-size: 34px;
    line-height: 26px;

    margin: -1px 0px 0px -2px;
    padding: 0;

    user-select: none;
}
.catalogue-monument {
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    user-select: none;
}
.catalogue-flag {
    height: 20px;
    border: solid rgb(255, 255, 255) 2px;

    margin: 0;
    padding: 0;
}
.catalogue-image {
    height: 250px;
    border: solid rgb(255, 255, 255) 2px;

    margin: 0;
    padding: 0;
}

.catalogue-tag {
    color: var(--item-bg-col);
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    text-align: center;

    border-radius: 12px;
    user-select: none;

    margin: 0;
    margin-top: 2px;
    padding: 5px 7px 5px 7px;
}
.catalogue-star {
    height: 20px;

    margin: 0;
    padding: 0;
}

.catalogue-info {
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 20px;

    margin: 0;
    padding: 0;
}


/* OTHER ======================================================================== */

.subheader-text {
    color: rgb(255, 255, 255);
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;

    margin: 0;
    padding: 0;
}