{% extends "base.html" %}

{% block maincontent %}

<!-- CSS -->
<link href="static/profile.css" type="text/css" rel="stylesheet">

<!-- MAIN -->
<div class="profile-c1">

    <!-- flashed message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <div>
                <p class="{{ message[0] }}">
                    {{ message[1] }}
                </p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <a href="logout">
        <div class="profile-button">
            LOG OUT
        </div>
    </a>

    <div class="spacer-vertical"></div>

    <h2 class="subheader-text">
        PERSONAL INFORMATION
    </h2>

    <div class="profile-c2">
        <div class="profile-c3">
            <div class="profile-info">
                <div class="info-label">
                    FIRST NAME
                </div>
                <div class="info-data">
                    {{ current_user.firstname }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    LAST NAME
                </div>
                <div class="info-data">
                    {{ current_user.lastname }}
                </div>
            </div>
        </div>

        <div class="profile-c3">
            <div class="profile-info">
                <div class="info-label">
                    USERNAME
                </div>
                <div class="info-data">
                    {{ current_user.username }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    PASSWORD
                </div>
                <div class="info-data">
                    ••••••••
                </div>
            </div>
        </div>
    </div>

    <a href="/edit-personal-info">
        <div class="profile-button">
            EDIT
        </div>
    </a>

    <div class="spacer-vertical"></div>

    <h2 class="subheader-text">
        FINANCIAL INFORMATION
    </h2>

    <div class="profile-c2">
        <div class="profile-c3">
            <div class="profile-info">
                <div class="info-label">
                    CARD HOLDER
                </div>
                <div class="info-data">
                    {{ current_user.cardholder }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    CARD NUMBER
                </div>
                <div class="info-data">
                    •••• •••• •••• ••••
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    CARD EXPIRY
                </div>
                <div class="info-data">
                    ••/••
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    CARD CVV
                </div>
                <div class="info-data">
                    •••
                </div>
            </div>
        </div>

        <div class="profile-c3">
            <div class="profile-info">
                <div class="info-label">
                    ADDRESS LINE 1
                </div>
                <div class="info-data">
                    {{ current_user.addressline1 }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    ADDRESS LINE 2
                </div>
                <div class="info-data">
                    {{ current_user.addressline2 }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    ADDRESS LINE 3
                </div>
                <div class="info-data">
                    {{ current_user.addressline3 }}
                </div>
            </div>

            <div class="profile-info">
                <div class="info-label">
                    ZIPCODE / POSTCODE
                </div>
                <div class="info-data">
                    {{ current_user.zippostcode }}
                </div>
            </div>
        </div>
    </div>

    <a href="/edit-financial-info">
        <div class="profile-button">
            EDIT
        </div>
    </a>

    <div class="spacer-vertical"></div>

    <h2 class="subheader-text">
        FAVOURITED ITEMS
    </h2>

    <div class="catalogue-c1"> <!-- the list of minuments -->
        {% if items %}
            {% for x in range(0, items|length) %}
                <a href="/item{{ items[x][0] }}"> <!-- an individual minument [RIFFA CLOCK TOWER] -->
                    <div class="catalogue-c2"> 
                        <div class="catalogue-c3"> <!-- city-name + flag -->
                            <div class="catalogue-c4"> <!-- city-name -->
                                <p class="catalogue-city">
                                    {{ items[x][1] }}
                                </p>
                            </div>
            
                            <div class="catalogue-c4"> <!-- flag -->
                                <img src="static/resources/flags/{{ items[x][2] }}.png"
                                    class="catalogue-flag"
                                    alt="{{ items[x][3] }}">
                            </div>
                        </div>
            
                        <div class="catalogue-c3"> <!-- monument-name -->
                            <p class="catalogue-monument">
                                {{ items[x][4] }}
                            </p>
                        </div>
            
                        <div class="catalogue-c3"> <!-- image -->
                            <img src="static/resources/monuments/{{ items[x][0] }}.png"
                                class="catalogue-image"
                                alt="{{ items[x][5] }}">
                        </div>
            
                        <div class="catalogue-c5"> <!-- tags and star -->
                            {% if items[x][6] %}
                                {% for y in range(0, items[x][6]|length) %}
                                    <div class="catalogue-tag">
                                        {{ items[x][6][y] }}
                                    </div>
                                {% endfor %}
                            {% endif %}
            
                            <!-- spacer -->
                            <div class="spacer-horizontal"></div>
            
                            <div class="catalogue-c6">
                                <img src="static/resources/star-{{ items[x][8] }}.png"
                                    class="catalogue-star"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p class="catalogue-info">
                You have no favourited items.
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}